@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Space Mono;
}
::-webkit-input-placeholder {
        text-align: center;
    }
  
:-moz-placeholder {
        text-align: center;
    }

button{
    cursor: pointer;
}

body{
    background-color: hsl(185, 41%, 84%)
}

#logo{
    display: block;
    margin: 2rem auto;
    /* outline: 1px solid red; */
}

#container{
    background-color: white;
    padding: 1rem;
    border-radius: 20px 20px 0 0 ;
}

#confuguration{
    display: grid;
    gap: 1rem;
    padding: 1rem;
                                     /* outline: 1px solid red; */
}

.heading{
    font-size: 14px;
}

/* .input-field-container{
                                    outline: 1px solid blue;
} */
    .input-field-container > p , .input-button-container > p {
        color: hsl(186, 14%, 43%);
        margin-bottom: 5px;
    }

    #cant-be-zero-warning{
        float: right;
        color: rgb(194, 63, 62);

    }

    /* .orange-outline{
        border-color: orange;
        padding: 25px;
    } */

    

    
    .orange-outline-show{
        border: 3px solid rgb(194, 63, 62);
        border-style: solid inset solid solid;
    } 

    .transparent-outline-show{
        border: 3px solid transparent;
        border-style: solid inset solid solid;
    } 


    .hide{
    display: none;
    }


 

    .icon{
     width: 15px;
     height: 20px;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 5px;
    }

    .input-field-container > div{
        background-color: hsl(180, 37%, 97%);
        display: flex;
        justify-content: space-between;
        padding: 5px;

    }

    #number-of-people_input , #bill_input{
        background-color: inherit;
        border: none;
        /* padding: 5px; */
        width: 200px;
        text-align: right;
        font-size: 24px;
        /* font-family: inherit; */
        margin-right: 5px;
        color: hsl(183, 100%, 15%);   
    }


    #number-of-people_input:focus , #bill_input:focus{
        outline: none;
    }
    #button-container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }
    #button-container > button , #button-container > input{
        width: 98px;
        height: 38px;
        font-size: 19px;
        border: none;
        border-radius: 5px;
    }

    #button-container > button{
        color: white;
    }

    .notSelected-tip{                                             /* !!!!!!!!!!!*/
        background-color: hsl(183, 100%, 15%);
    }

    .selected-tip{
        background-color: hsl(172, 67%, 45%);
    }

    #button-container > button:hover{
        color: hsl(183, 100%, 15%);
        background-color: hsl(185, 41%, 84%);
    }

    #button-container > input{
        background-color: hsl(189, 41%, 97%);
        text-align: right;
        padding:0 5px;
        color: hsl(183, 100%, 15%);
    }

    #button-container > input:focus{
        outline-color: hsl(172, 67%, 45%);
    }

#tip-output{
    background-color:  hsl(183, 100%, 15%);
    border-radius: 15px;
    color: white;
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 3rem;
    margin-bottom: 5vh;
}

    .tip-amount_section{
        display: flex;
        justify-content: space-between;
    }


    .label{
        font-size: 12px;
        color: hsl(186, 14%, 43%);
    }

    .output-value{
        font-size: 26px;
        color: hsl(172, 67%, 45%);
    }

    #reset-button{
        height: 40px;
        width: 100%;
        background-color: hsl(172, 67%, 45%);
        font-size: 18px;
        color:hsl(183, 100%, 15%); ;
        border: none;
        border-radius: 5px;
    }

    #reset-button:hover{
        background-color: hsl(185, 41%, 84%);
    }

    


@media only screen and (min-width: 376px){
   #container{
    /* width: 90%; */
    /* min-width: 375px; */
    margin: 0 auto;
    width: 800px;
    height: 500px;
    /* max-width: 600px; */
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
   }



   #confuguration{
    width: 360px;
    height: 100%;
   }
   #tip-output{
    width: 360px;
    /* height: 500px; */
    margin-bottom: 0;
    padding: 2rem;
    display: grid;
   }

   #tip-output{
    gap: 1rem;
   }
   #reset-button{
    margin-top: auto;
   }

   #tipAmount_person , #tipAmount_Total{
    font-size: 36px;
   }

   .tip-amount_section{
    height: 20px;
   }

}
